@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
	  @apply text-rose-50 transition-colors;
	}

	a:hover {
		@apply underline underline-offset-8 ;
	  }
  }

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		font-family: 'tenon', sans-serif;
		scrollbar-width: thin;
	}

	html,
	body {
		background-color:  var(--theme-color);
		overscroll-behavior-y: none;
	}

	body {
		transition: background-color 1s ease;
		min-height: 100vh;
	}
	
	html.lenis-stopped {
		overflow: hidden;
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.perspective-800 {
		perspective: 800px;
	}

	.text-block ul li {
		position: relative;
		padding-left: 15px;
	}

	.text-block ul li:before {
		position: absolute;
		top: 11px;
		left: 0;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background: currentColor;
		content: '';
	}

	.split-char {
		display: inline-block !important;
		white-space: nowrap;
	}

	.split-line {
		overflow: hidden;
	}

	.split-line > * {
		vertical-align: text-top;
	}

	.split-line__underline::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 4px;
		background: currentColor;
		transition: width 0.3s;
	}

	.split-line__underline:hover::after {
		width: 100%;
	}
}
