@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		font-family: 'Roboto', sans-serif;
	}

	html,
	body {
		background-color: #fff;
	}

	body.work-page::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		left: 0;
		background: rgb(26, 26, 26);
		z-index: 0;
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.perspective-800 {
		perspective: 800px;
	}

	.text-block ul li {
		position: relative;
		padding-left: 15px;
	}

	.text-block ul li:before {
		position: absolute;
		top: 11px;
		left: 0;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background: currentColor;
		content: '';
	}

	.split-char {
		display: inline-block !important;
		white-space: nowrap;
	}

	.split-line {
		overflow: clip;
		margin-top: -8px;
		padding: 8px 0;
	}

	/** LENIS **/

	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}
}
