@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		font-family: 'Roboto', sans-serif;
	}

	html,
	body {
		background-color:  var(--theme-color);
	}

	body {
		transition: background-color 1s ease;
	}

	.preserve-3d {
		transform-style: preserve-3d;
	}

	.perspective-800 {
		perspective: 800px;
	}

	.text-block ul li {
		position: relative;
		padding-left: 15px;
	}

	.text-block ul li:before {
		position: absolute;
		top: 11px;
		left: 0;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background: currentColor;
		content: '';
	}

	.split-char {
		display: inline-block !important;
		white-space: nowrap;
	}

	.split-line {
		overflow: hidden;
	}

	.split-line > * {
		vertical-align: text-top;
	}

	.split-line__underline::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 4px;
		background: currentColor;
		transition: width 0.3s;
	}

	.split-line__underline:hover::after {
		width: 100%;
	}

	/** LENIS **/

	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}
}
